<?xml version="1.0"?>
<config>
    <modules>
        <Canalweb_PDF>
          <version>1.0.0</version>
      </Canalweb_PDF>
    </modules>
    <global>
        <models>
            <canalweb_pdf>
                <class>Canalweb_PDF_Model</class>
            </canalweb_pdf>
        </models>
    </global>
</config>
